  <!--banner-->
  <section id="banner">
    <div class="bg-color">
      <header id="header">   
        <div class="container">              
          <!-- Use any element to open the sidenav 
          <span onclick="openNav()" class="pull-right menu-icon">☰</span>
          -->
        </div>     
      </header>
    <div class="container">
      <div class="row">
        <div class="inner text-center">
          <h1 class="logo-name">Delicias Pauly</h1>
          <h2>Lo rico de comenzar el día !</h2>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- / banner -->